<!DOCTYPE html>

<html lang="en">
{% extends 'blog/base.html' %}
{%load static%}

<head>
    <title>Vireal's blog</title>
   <link href="https://fonts.googleapis.com/css?family=Anton|Bebas+Neue|Lobster|Solway|Tomorrow:400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <meta charset="UTF-8">

</head>

<body>
    <div class="page-header">
        <h1><a href="/">Vireal's Blog</a></h1>
    </div>
    <div class="content container">
        <h2>This is just a list of games:</h2>
    {% block content %}
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    {{ post.published_date }} by {{ post.author}}
                </div>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{post.text}}</p>
            </div>
        {% endfor %}
    {% endblock %}
        <div>
            <h3> You can find my <em> <strong> VK </strong></em>
                page <a href="https://vk.com/vireal">here</a> !
            </h3>
        </div>
    </div>

</body>
</html>